
\.idea/

alembic/__pycache__/

alembic/versions/__pycache__/

*/__pycache__/

alembic\.ini

*\.env*

humaniki_schema/\.ipynb_checkpoints/

humaniki_schema\.egg-info/

humaniki_schema/ipynb/\.ipynb_checkpoints/

\.fast\.env

config/dev.yaml
config/*.yaml
config/

!config/full.yaml

logs/
